.Joke {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 3px;
}

.Joke-text {
  margin-left: 20px;
}
