.Rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Rating p {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.Rating button {
  cursor: pointer;
  color: inherit;
  font-size: 20px;
  color: rgb(179, 179, 179);
  border: none;
  padding: 8px;
  outline: none;
  background-color: transparent;
}
